<div class="wrapper">
  <app-sidebar *ngIf="!(_router.url === '/register' || _router.url === '/login' || _router.url === '/error404')"></app-sidebar>
  <app-header *ngIf="!(_router.url === '/register' || _router.url === '/login' || _router.url === '/error404')"></app-header>

  <router-outlet></router-outlet>
  <app-messages *ngIf="!(_router.url === '/register' || _router.url === '/login' || _router.url === '/error404')"></app-messages>
  <app-overlay-back-to-top-buttom-footer *ngIf="!(_router.url === '/register' || _router.url === '/login' || _router.url === '/error404')"></app-overlay-back-to-top-buttom-footer>
</div>
<app-switcher *ngIf="!(_router.url === '/register' || _router.url === '/login' || _router.url === '/error404')"></app-switcher>
